//COLORS
$primary_color: #55c57a;
$secondary_color: #7ed56f;
$tertiary_color: #28b485;
$lighter_gray: #f7f7f7;
$light_gray: #777;
$dark_gray: #222;
$very_dark: #010101;
$black: #000;
$white: #fff;

//FONT SIZES
$default_font_size: 1.6rem;

//GRID
$grid_width: 114rem;
$gutter_vertical: 8rem;
$gutter_horizontal: 6rem;
