@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/background_video";
@import "components/button";
@import "components/card";
@import "components/composition";
@import "components/feature_box";
@import "components/form";
@import "components/popup";
@import "components/story";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";

@import "pages/home";

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

/*NOTES*/

/*
FLOATS

Float property causes the element to be completely removed from the flow 
and shifted to left or right as far as possible; until it reaches the edge
of its containing box or another floated element.

When this happens, text or inline elements, will wrap around the floated
element. 

When an elemented is floated, its container will NOT adjust its
height to the element.


Absolute positioning

Is positioned to the next relative position element
*/