.composition {
    position: relative;

    &_photo {
        //need to always use percentages with images
        width: 55%;
        box-shadow: 0 1.2rem 4rem rgba($black, .4);
        border-radius: 5px;
        position: absolute;
        transition: all .2s;
        outline-offset: 2rem;

        &_photo_1 {
            top: -2rem;
            left: 0;
        }
        &_photo_2 {
            top: 2rem;
            right: 0;
        }
        &_photo_3 {
            top: 10rem;
            left: 20%;
        }
        &:hover {
            outline: 1.2rem solid $primary_color;
            transform: scale(1.1) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($black, .5);
            z-index: 20;
        }
    }

    &:hover &_photo:not(:hover){
        transform: scale(.95);
        filter: brightness(50%);
    }
}