.utility_center_text {
    text-align: center !important; //centers text for child text elements
}
.utility_margin_bottom_small {
    margin-bottom: 1.5rem !important;
}
.utility_margin_bottom_medium {
    margin-bottom: 4rem !important;
}
.utility_margin_bottom_big {
    margin-bottom: 8rem !important;
}
.utility_margin_top_small {
    margin-top: 8rem !important;
}
.utility_margin_top_big {
    margin-top: 8rem !important;
}