.background_shadow {
    box-shadow: 0px 1px 12px rgb(192, 192, 192);
}
.section_about {
    background-color: $lighter_gray;
    padding: 38rem 0 45rem 0;
    margin-top: -29rem;

    @include respond(tablet_portrait){
        padding: 35rem 0;
    }

    @include respond(phone) {
        margin-top: -32rem;
    }
}

.section_features {
    background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8)), url(../img/nat-4.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0vh 15%, 100% 0, 100% 85%, 0 100%);
    position: relative;
    margin-top: -25rem;
    display: flex;
    align-items: center;
    height: 115vh;

    // ">" targets all direct children of the .section_features class (i.e class="row")
    // & > * {
    //     //transform: skewY(9deg);
    // }

    @include respond(tablet_portrait) {
        clip-path: polygon(0vh 8%, 100% 0, 100% 92%, 0 100%);
        height: unset;

        .row {
            margin: 17rem auto;
        }
    }
}

.section_tours {
    background-color: $lighter_gray;
    padding: 28rem 0 18rem 0;
    margin-top: -26rem;

    @include respond(tablet_portrait) {
        margin-top: -26rem;
    }

    @include respond(phone) {
        margin-top: -25rem;
    }
}

.section_stories {
    position: relative;
    padding: 5rem 0 10rem 0;
}

.section_book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $primary_color, $secondary_color);
}

.book {
    background-image: linear-gradient(105deg, 
        rgba($white, .9)0%, 
        rgba($white, .9) 50%, 
        transparent 50%), 
        url(../img/nat-10.jpg);
    background-size: 100%; //fit pic in the X direction of container
    border-radius: $card_radius;
    box-shadow: 0 1.5rem 4rem rgba($black, .25);

    @include respond(tablet_landscape){
        background-image: linear-gradient(105deg, 
        rgba($white, .9) 0%, 
        rgba($white, .9) 65%, 
        transparent 65%), 
        url(../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond(tablet_portrait){
        background-image: linear-gradient(to right, 
        rgba($white, .9) 0%, 
        rgba($white, .9) 100%), 
        url(../img/nat-10.jpg);
    }

    &_form {
        width: 50%;
        padding: 3rem;

        @include respond(tablet_landscape){
            width: 65%;
        }

        @include respond(tablet_portrait){
            width: 100%;
        }
    }
}